<div class="todoapp">
  <app-todos-header></app-todos-header>

  <input
    id="todo-input"
    class="new-todo"
    placeholder="add a new todo"
    autoFocus
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addTodo()"
  />

  <div class="todos-list">
    <br />
    <h2>todos</h2>
    <ul class="todos">
      <li *ngFor="let todo of todos">
        <button
          type="button"
          (click)="onSelect(todo)"
          [class.selected]="todo === selectedTodo"
        >
          <span class="badge">{{ todo.id }}</span>
          <span class="title">{{ todo.title }}</span>
          <span class="description">{{ todo.description }}</span>
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedTodo">
    <h2>{{ selectedTodo.title | uppercase }} Details</h2>
    <div>id: {{ selectedTodo.id }}</div>
    <div>
      <label for="hero-title">todo title: </label>
      <input
        id="hero-title"
        [(ngModel)]="selectedTodo.title"
        placeholder="title"
      />
    </div>
  </div>

  <!-- <app-todo-details></app-todo-details> -->
</div>
