<div class="todoapp">
  <app-todos-header></app-todos-header>

  <!-- <input
    id="todo-input"
    class="new-todo"
    placeholder="add a new todo"
    autoFocus
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addTodo()"
  /> -->

  <div class="todos-list">
    <br />
    <h2>{{todosHeader | lowercase }}</h2>
    <ul class="todos">
      <li *ngFor="let todo of todos">
        <button
          type="button"
          (click)="onSelect(todo)"
          [class.selected]="todo === selectedTodo"
        >
          <span class="badge">{{ todo.id }}</span>
          <span class="title">{{ todo.title }}</span>
          <span class="description">{{ todo.description }}</span>
        </button>
      </li>
    </ul>
  </div>

  <app-todo-details [todo]="selectedTodo"></app-todo-details>
</div>
